<%= render 'layouts/admin_menu' %>
<div id="main">
  <div class="wrapper">
    <section id="content">
      <div id="breadcrumbs-wrapper">
        <div class="container">
          <div class="row">
            <div class="col s12 m12 l12" style="position: relative;">
              <h5 class="breadcrumbs-title">Mensagens</h5>
              <br>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12 m12 l10 offset-l1">
              <ul class="collection with-header" style="border: none">
                <li class="collection-header blue">
                  <div class="row valign-wrapper">
                  </div>
                </li>
                <li class="collection-item center">
                  <div class="row">
                    <div class="col s12 m12 l12">
                      <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                        <thead>
                          <tr>
                            <th class="center">ID</th>
                            <th class="center">Texto</th>
                            <th class="center">Usuário</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @messages.each do |message|%>
                            <tr>
                              <th class="center"><%= message.id %></th>
                              <th class="center"><%= message.text %></th>
                              <th class="center"><%= message.user.try(:name) %></th>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </li>
              </ul>
              <a class="btn blue darken-1 waves-effect waves-light" onclick="window.location.assign('/messages/new')">
               + Mensagem
              </a>
              <a class="btn blue darken-1 waves-effect waves-light" onclick="window.location.assign('/messages/filtered')">
               + Mensagem Filtrada
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
