<header id="header" class="page-topbar">
  <div class="navbar-fixed">
    <nav class="navbar-color blue">
      <div class="nav-wrapper">
        <ul class="left">
          <li>
            <h1 class="logo-wrapper">
            </h1>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
          <li>
            <a href="#" onclick="window.location.assign('/sessions/destroy')" class="waves-effect waves-block waves-light">
              <i class="icon ion-ios-upload-outline white-text"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav leftside-navigation">
    <li class="user-details white">
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/dashboard')" class="waves-effect waves-cyan"><i class="icons ion-ios-person-outline"></i>Usuários</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/cities')" class="waves-effect waves-cyan"><i class="icons ion-ios-location-outline"></i>Cidades</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/universities')"  class="waves-effect waves-cyan"><i class="icons ion-university"></i>Instituições</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/courses')"  class="waves-effect waves-cyan"><i class="icons ion-medkit"></i>Cursos</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/subjects')"  class="waves-effect waves-cyan"><i class="icons ion-ios-flask-outline"></i>Disciplinas</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/exams')"  class="waves-effect waves-cyan"><i class="icons ion-ios-paper-outline"></i>Provas</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/requisitions')"  class="waves-effect waves-cyan"><i class="icons ion-ios-bookmarks-outline"></i>Requisições</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/complaints')"  class="waves-effect waves-cyan"><i class="icons ion-ios-close-outline"></i>Denuncias</a>
    </li>
    <li class="bold">
      <a href="#" onclick="window.location.assign('/messages')" class="waves-effect waves-cyan"><i class="icons ion-ios-email-outline"></i>Push Notification</a>
    </li>
  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse no-shadow sidebar-collapse btn-floating btn-medium waves-effect waves-light blue"><i class="mdi-navigation-menu white-text"></i></a>
</aside>
